.intro {
  height: 100vh;
  position: relative;
}

.scroll {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  opacity: .8;
  &:hover {
    opacity: 1;
  }
}

.fa-angle-down {
  height: .5em;
  font-size: 1.7em;
}