.site-header {
  background-color: transparent;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 999999;
}

.menu-item {
  a {
    padding: 1em .5rem;
    display: block;
    color: inherit;
    font-size: 1.1em;
    text-transform: uppercase;
    &:hover {
      color: $color-text;
    }
  }
}

.current-menu-item {
  a {
    color: $color-text;
  }
}

.navbar-toggler:focus {
    outline: none !important;
  &-icon {
    width: 1.2em;
    height: .1em;
    margin: 1em 0;
    display: block;
    position: relative;
    background-image: none !important;
    background: $light-bg;
    transition: .3s ease-in-out;
    &:before, &:after {
      content: '';
      width: 1.5em;
      height: .1em;
      position: absolute;
      display: block;
      background: $light-bg;
    }
    &:before {
      top: .3em;
    }
    &:after {
      bottom: .3em;
    }
  }
}

.change {
  width: 2em;
}